/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "keys_de.h"
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

#define BASE 0
#define LOWER 1

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "default";
            bindings = <
/* ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                               ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐ */
/* │    ´/`    │     1     │     2     │     3     │     4     │     5     │                               │     6     │     7     │     8     │     9     │     0     │    ß/?    │ */ 
   &kp DE_ACUTE &kp DE_N1   &kp DE_N2   &kp DE_N3   &kp DE_N4   &kp DE_N5                                   &kp DE_N6   &kp DE_N7   &kp DE_N8   &kp DE_N9   &kp DE_N0   &kp DE_SZ   
/* ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                               ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤ */ 
/* │    TAB    │     Q     │     W     │     E     │     R     │     T     │                               │     Y     │     U     │     I     │     O     │      P    │     Ü     │ */ 
    &kp TAB     &kp Q       &kp W       &kp E       &kp R       &kp T                                       &kp DE_Y    &kp U       &kp I       &kp O       &kp P       &kp DE_UE   
/* ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                               ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤ */
/* │    ESC    │     A     │     S     │     D     │     F     │     G     │                               │     H     │     J     │     K     │     L     │     Ö     │     Ä     │ */ 
    &kp DE_ESC  &kp A       &kp S       &kp D       &kp F       &kp G                                       &kp H       &kp J       &kp K       &kp L       &kp DE_OE   &kp DE_AE   
/* ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┐       ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤ */
/* │   SHIFT   │     Z     │     X     │     C     │     V     │     B     │    MUTE   │       │           │     N     │     M     │    ,/;    │    ./:    │    -/_    │   SHIFT   │ */ 
    &kp LSHFT   &kp DE_Z    &kp X       &kp C       &kp V       &kp B       &kp C_MUTE          &none       &kp N       &kp M      &kp DE_COMMA &kp DE_DOT &kp DE_MINUS &kp RSHFT   
/* └───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤       ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────┘ */
/*                         │    CTRL   │    ALT    │    GUI    │    LOWER  │ BACKSPACE │       │   ENTER   │   SPACE   │           │           │           │ */
                            &kp LCTRL   &kp LALT    &kp LGUI    &mo LOWER   &kp BSPC             &kp RET    &mo SPACE   &none       &none       &none
/*                         └───────────┴───────────┴───────────┴───────────┴───────────┘       └───────────┴───────────┴───────────┴───────────┴───────────┘ */
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        lower_layer {
            display-name = "lower";
            bindings = <
/* ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐                               ┌───────────┬───────────┬───────────┬───────────┬───────────┬───────────┐ */
/* │           │           │           │           │           │           │                               │           │           │           │           │           │           │ */
    &none       &none       &none       &none       &none       &none                                       &none       &none       &none       &none       &none       &none
/* ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                               ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤ */
/* │           │           │           │           │           │           │                               │     "     │     )     │     }     │     ]     │     >     │           │ */
    &none       &none       &none       &none       &none       &none                                       &none       &none       &none       &none       &none       &none
/* ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤                               ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤ */
/* │           │           │           │           │           │           │                               │     '     │     (     │     {     │     [     │     <     │           │ */
    &none       &none       &none       &none       &none       &none                                       &none       &none       &none       &none       &none       &none
/* ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┐       ┌───────────┼───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤ */
/* │           │           │           │           │           │           │           │       │           │           │           │           │           │           │           │ */
    &none       &none       &none       &none       &none       &none       &none               &none       &none       &none       &none       &none       &none       &none
/* └───────────┴───────────┼───────────┼───────────┼───────────┼───────────┼───────────┤       ├───────────┼───────────┼───────────┼───────────┼───────────┼───────────┴───────────┘ */
/*                         │           │           │           │           │           │       │           │           │           │           │           │ */
                            &none       &none       &none       &none       &none               &none       &kp LEFT    &kp DOWN    &kp UP      &kp RIGHT 
/*                         └───────────┴───────────┴───────────┴───────────┴───────────┘       └───────────┴───────────┴───────────┴───────────┴───────────┘ */
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
